/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/build/ar-lib
/build/compile
/build/depcomp
/build/install-sh
/build/missing
/build/config.guess
/build/config.sub
/compile
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/client/Makefile.in
/client/Makefile
/client/finvenkisto
/client/fv-map.c
/client/rply/Makefile
/client/rply/Makefile.in
/client/rply/convert
/client/rply/librply.a
/client/data/Makefile.in
/client/data/Makefile
/client/data/map-texture.png
/client/data/*.blend[12]
/client/data/hud/*.png
/client/data/hud.png
/client/data/hud-layout.h
/client/data/hud/digits-stamp
/client/data/hud-stamp
/client/data/nekrokodilu.png
/common/Makefile
/common/Makefile.in
/common/libcommon.a
/server/Makefile
/server/Makefile.in
/server/finvenkisto-server
*.o
.deps
