/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/build/ar-lib
/build/compile
/build/depcomp
/build/install-sh
/build/missing
/build/config.guess
/build/config.sub
/compile
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/a.out.js
/a.out.js.mem
/client/Makefile.in
/client/Makefile
/client/babiling
/client/babiling-editor
/client/babiling.html
/client/babiling.html.mem
/client/babiling.js
/client/fv-map.c
/client/rply/Makefile
/client/rply/Makefile.in
/client/rply/convert
/client/rply/librply.a
/client/data/babiling-data.js
/client/data/babiling.data
/client/data/fv-image-data-enum.h
/client/data/fv-image-data-files.h
/client/data/fv-image-data-stamp
/client/data/Makefile.in
/client/data/Makefile
/client/data/map-texture.png
/client/data/*.blend[12]
/client/data/hud/*.png
/client/data/hud.png
/client/data/hud-layout.h
/client/data/hud/digits-stamp
/client/data/hud-stamp
/client/data/flag-stamp
/client/data/flag-texture.png
/client/data/flag-layout.h
/common/Makefile
/common/Makefile.in
/common/libcommon.a
/doc/Makefile
/doc/Makefile.in
/server/Makefile
/server/Makefile.in
/server/babiling-server
/server/babiling.service
*.o
.deps
